.content {
  padding: 1.5em;
}

.title {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
}

.option {
  width: 100%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 1em;
  background: var(--palette-pane);
  padding: 0.5em 1em;
  text-align: start;
  cursor: pointer;

  &:not(:first-child) {
    margin-top: 1em;
  }
}
