.header {
  margin: 2em 0 1em;
  font-weight: bold;
}

.input {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 0.5em;
}

.rows {
  display: grid;
  grid-template-columns: 8em 1fr;
  gap: 0.5em;
}