.app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  background: var(--palette-normal);
  color: var(--palette-normal-text);
}

.columns {
  display: grid;
  grid-template-columns: 20em 1fr;
  gap: 1em;
  padding: 1em 2em;
}

.column {
  padding: 1em 2em;
}
