.nav {
  padding: 1em 2em;
  box-shadow: 0 0 0.2em var(--palette-shadow);
  display: flex;
  align-items: center;
  gap: 1em;
}

.title {
  flex: 1 1 0;
  font-weight: bold;
  font-size: 1.5em;
}

.button {
  display: grid;
}

.content {
  min-width: 10em;
  padding: 1em;
}
