.content {
  padding: 1.5em;
}

.title {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
}

.option {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1em;
  background: rgb(240 240 240);
  padding: 0.5em 1em;
  text-align: start;
  cursor: pointer;

  &:not(:first-child) {
    margin-top: 1em;
  }
}

.image {
  width: 2.5em;
  height: 2.5em;
}
