.button {
  border: 1px solid var(--palette-border);
  border-radius: 4px;
  padding: 0.5em;
  text-align: start;
}

.options {
  display: flex;
  flex-flow: column nowrap;
}

.option {
  padding: 0.5em 1em;
  text-align: start;
}
