.content {
  border: 1px solid var(--palette-border);
  border-radius: 4px;
}

.textarea {
  padding: 0.5em;
  font-family: monospace;
}

.bar {
  padding: 0.5em;
  display: flex;
  align-items: center;
}
