// Reduce CSS specificity using :where() pseudo-class.
:where(.textarea) {
  width: 100%;
  padding: 0;
  display: block;
  background: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  border: none;
  resize: none;
  outline: none;
}
